@use "../../App";

.login {
  &-wrap {
    position: relative;
    align-self: center;
    // height: 700px;
    min-width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  &-header {
    align-self: flex-start;
    margin-bottom: -20px;
  }
  &-form {
    width: 100%;
    max-width: 350px;
    display: flex;
    flex-direction: column;
    gap: 50px;
  }
  &-submit-button {
    width: 150px;
  }
  &-error {
    position: absolute;
    bottom: -50px;
    color: red;
    font-weight: 900;
    font-family: App.$fontSecondary;
    font-size: 20px;
  }
}
