@use "../../App.scss";

.profile {
  &-wrap {
    width: 700px;
    display: flex;
    flex-direction: column;
  }

  &-head {
    // border-left: blue solid 1px;
    // border-right: blue solid 1px;
    max-height: 300px;
    height: 15%;
    display: flex;
    align-items: center;
    padding: 0 50px;
    span {
      font-size: 30px;
    }
  }
  &-slider {
    // border-left: green solid 1px;
    // border-right: green solid 1px;
    border-bottom: grey solid 2px;
    max-height: 50px;
    height: 5%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 40px;

    span {
      height: 100%;
      display: grid;
      place-items: center;
      padding: 0 10px;
    }
  }
  &-content {
    border-left: red solid 1px;
    border-right: red solid 1px;
    flex-grow: 1;
  }
}
